{% extends 'base.html' %}

{% block page %}
<section class="home" id="home">

    <h1>Осваивай, что нравится!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde assumenda esse quia illum repellat, reprehenderit inventore ipsa, minima, nulla eaque eius deleniti nisi ullam laudantium fugit beatae necessitatibus dolore voluptate!</p>
    <a href="{% url 'courses_list' %}"><button class="btn">
        начать
    </button></a>

    <!-- <div class="shape"></div> -->
</section>

{% endblock %}

