{% extends 'base.html' %}

{% block page %}
{% load static %}  
<section class="course" id="course">
    <div class="content">
        <br>
        <h1>курс: {{course.name}}
        </h1>
        <h1>{{course.description}}</h1>
        <h1>длительность курса {{course.term}} месяцев</h1>
        <h1>ментор курса:{% for i in course.teacher.all %}
         <a href="{{i.get_absolute_url}}">{{i.name}}</a> - [{{i.speciality}}]
         <!-- <img src="{{i.image.url}}" alt=""> -->
        {% endfor %}</h1>
    </div>
    <div class="box-container">{% for lesson in course.course_name.all  %}
        <div class="box">
            
                    <video width="390" height="240" controls>
                        <source src="{{lesson.videofile.url}}" type="video/mp4">
                    </video>
                    <div class="content" >
                        <p>{{lesson.title}}</p>
                        <p>{{lesson.description}}</p>
                        <p>{{lesson.teacher}}</p>
                        <h1><a href="{{lesson.task}}" target="_blank">посмотреть заданиe</a></h1>     
            </div>
            </div>
           {% endfor %}
        </div>
</section>

{% endblock %}