{% extends 'base.html' %}

{% block page %}
{% load static %}   
<section class="course" id="course">
    <h1 class="heading">наши опытные менторы</h1>
    <div class="box-container">
        {% for i in teachers %}
        <div class="box">
            <img src="{{i.image.url}}" alt="">
            <div class="content" >
                <!-- {% url 'course_detail' i.name %}-->
                                   <a href="{{i.get_absolute_url}}" class="title">  {{i.name}}</a> 
                
                <div class="info">
                    <h3>{{i.speciality}}</h3>
                </div>
              </p>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}